@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.AboutText{
  font-family: "Nanum Gothic";
  text-align: left;
}

.AboutTitle{
  font-family: "Nanum Gothic";
  padding:40px;
}

.App {
  text-align: center;
  background:linear-gradient(rgba(0,0,0,0.5),transparent);
  height:100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Headerlink{
  text-align: center;
  padding-right: 10vh;
  padding-top: 5vh;
  font-size: 24px;
  font-family: "Nanum Gothic";
  text-decoration: none;
  color: black;
  outline: 0;

}

.carousel-indicators li{
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #27a4a8 !important;
}

.CarouselDescText{
  font-family: "Nanum Gothic";
  color:#ffffff;
}

.CarouselTitleText{
  font-family: "Nanum Gothic";
  color: #27a4a8;
  text-shadow: 2px 2px 4px black;
}

.FooterText{
  font-family: "Nanum Gothic";
}

.Headerlink:hover{
  color:black;
  text-decoration: none;
  cursor:pointer;
  opacity: 0.2;
}

.HomeJumboTron {
  font-family: 'Nanum Gothic';
  background-color : #8a838300 !important ;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.ProjectsButton{
  color: black !important;
  font-family: "Nanum Gothic" !important;
  background-color: #27a4a8 !important;
  border-color: #27a4a8 !important;
}
.ProjectsButton:hover{
  opacity: 0.5;
}

.ProjectContainer{
  display:flex;
  flex-direction: row;
  border:1px solid rgb(0, 0, 0);
  margin-top: 10px;
}

.ProjectImage{
  height:10%;
  width:10%;
}

.ProjectPageText{
  font-family: 'Nanum Gothic';
  font-size: 11;
  text-align: left;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 10vh;
}

.ProjectPageTitle{
  font-family: 'Nanum Gothic';
  font-weight: bold;
  margin-top: 5vh;
  margin-left: 10vh;
  margin-bottom: 2vh;
  text-align: left;
}

.ProjectTitle{
  display:flex;
  font-family: 'Nanum Gothic';
  font-size: 32px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex:0.5;
  text-decoration: none;
  color: black;
  outline: 0;
  
}

.ProjectTitle:hover{
  color:black;
  text-decoration: none;
  cursor:pointer;
  opacity: 0.2;
}

.Siteheader{
  background:linear-gradient(#27a4a8,transparent);
  display: flex;
  min-height: 18vh;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ZachPic{
  resize: both;
  transform: rotate(-90deg);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}
