@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.App {
  text-align: center;
  background-color: #adadbb;
  height:100vh;

}

.HomeJumboTron {
  font-family: 'Nanum Gothic';
  background-color : #adadbb !important ;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Siteheader{
  background-color: #27a4a8;
  display: flex;
  min-height: 10vh;
  justify-content: center;
}

.Headerlink{
  text-align: center;
  padding-right: 10vh;
  padding-top: 5vh;
  font-size: 24px;
  font-family: "Nanum Gothic";
  text-decoration: none;
  color: black;
  outline: 0;

}

.Headerlink:hover{
  color:black;
  text-decoration: none;
  cursor:pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
