@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.AboutText{
  font-family: "Nanum Gothic";
}

.AboutTitle{
  font-family: "Nanum Gothic";
  padding:40px;
}

.App {
  background:linear-gradient(rgba(0,0,0,0.5),transparent);
}

.App-link {
  color: #61dafb;
}

.AppRow {
  margin: 50px 50px 0px 50px;
}

.carousel-indicators li{
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #27a4a8 !important;
}

.CarouselDescText{
  font-family: "Nanum Gothic";
  color:#ffffff;
}

.CarouselTitleText{
  font-family: "Nanum Gothic";
  color: #27a4a8;
  text-shadow: 2px 2px 4px black;
}

.DiscordImage{
  margin-bottom: 100px;
  max-height: 1200px;
  max-width: 1200px;
}

.Footer-div{
  padding-top: 100px;
  text-align: center;
}

.FooterText{
  font-family: "Nanum Gothic";
}

.GridRow p{
  font-family: "Nanum Gothic" !important;
}

.Headerlink{
  text-align: center;
  margin-right: 5vh;
  margin-left: 5vh;
  padding-top: 5vh;
  font-size: 24px;
  text-decoration: none;
  color: black;
  outline: 0;
}

.Headerlink Header{
  font-family: "Nanum Gothic" !important;
}

.Headerlink:hover{
  color:black;
  text-decoration: none;
  cursor:pointer;
  opacity: 0.2;
}

.HomeJumboTron {
  font-family: 'Nanum Gothic' !important;
  background-color : #8a838300 !important ;
}

.Projects-blocks-div {
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  justify-self: center;
}

.ProjectsButton{
  color: black !important;
  font-family: "Nanum Gothic" !important;
  background-color: #27a4a8 !important;
  border-color: #27a4a8 !important;
}

.ProjectsButton:hover{
  opacity: 0.5;
}

.Projects-div {
  justify-content: center;
}

.ProjectContainer{
  background-color: #44e3e970 !important;
  margin: 25px 325px; 
}

.ProjectContainer:hover{
  opacity: 0.7;
  cursor:pointer;
}

.ProjectImage{
  height:100%;
  width:100%;
}

.ProjectPageText{
  font-family: 'Nanum Gothic';
  font-size: 11;
  text-align: left;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 10vh;
}

.ProjectPageTitle{
  font-family: 'Nanum Gothic';
  font-weight: bold;
}

.ProjectTitle{
  display:flex;
  font-family: 'Nanum Gothic';
  font-size: 32px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex:0.5;
  text-decoration: none;
  color: black;
  outline: 0;
}

.Siteheader{
  background:linear-gradient(#27a4a8,transparent);
  margin-bottom: 50px;
}

.Siteheader-container {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ZachPic{
  resize: both;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}
